* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
.container {
    width: 100%;
    min-height: 100vh;
    padding: 0px 8%;
    position: relative;
}

/* 加这个的作用是使得只有背景图片的透明度发生改变，其他元素透明度不变 */
.container::after {
    content: "";
    background: url('img/bg.jpg') no-repeat center;
    opacity: .5;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
/* 设置主容器h1的样式 */
.container h1 {
    text-align: center;
    padding-top: 6%;
    margin-bottom: 60px;
    font-weight: 600;
    /* 将它设置为绝对定位 */
    position: relative;
}

/* 为主容器h1设置一个下滑线的效果 */
.container h1::after {
    content: "";
    background: linear-gradient(to right,red, orange 50%, yellow);
    width: 120px;
    height: 5px;
    position: absolute;
    bottom: -5%;
    left: 50%;
    /* 表示元素沿着x轴向左平移它自身长度的一半 */
    transform: translateX(-50%);
}

/* 这个是实现响应式布局的关键代码 */
.row {
    display: grid;
    /* 自己查 */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

.server {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 18px;
    /* 将光标移动到该div上变为小手的样子 */
    cursor: pointer;
    /* 设置背景颜色为透明 */
    background: transparent;
    transition: transform 0.5s, background 0.5s;
}
/* 图标展现的颜色 */
.server i {
    font-size: 40px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
}
/* 设置每一个服务项标题的样式 */
.server h2 {
    font-weight: 600px;
    margin-bottom: 8px;
}
/* 描述文本颜色设置 */
.server p {
    color: rgb(106, 106, 112);
}

/* 设置鼠标移动到上面的样式 */
.server:hover {
    background: rgb(68, 68, 68);
    color: #fff;
    transform: scale(1.05);   
}

/* 设置鼠标移动到上面图标样式 */
.server:hover i {
    color: #fff;
}

/* /* 设置鼠标移动到上面p标签/文字的样式 */
.server:hover p {
    color: rgb(242, 242, 166);
}